
/*	-----------------------------------------------

	reset and rebuild base html elements

	----------------------------------------------- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strike, strong, sub, sup, var,
b, i, u, center, hr,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary {
	display: block;
}
audio, canvas, video {
	display: inline-block;
}

body {
	color: #010101;
	font-family: Arial, Verdana, sans-serif;
	/* font-size: 100%; /* 16px default type */
	/* font-size: 87.5%; /* 14px */
	font-size: 75.0%; /* 12px */
	/* font-size: 62.5%; /* 10px */
	line-height: 1.0;
	background: #efefef;
}

a {
	cursor: pointer;
	color: #900;
	text-decoration: none;
}
a:focus, a:hover, a:visited:hover, a:active {
	color: #c00;
	text-decoration: underline;
}

p, ul, ol, dl {
	font-size: 1.0em;
	line-height: 1.5em;
	margin: 0 0 1.5em 0;
}

h1 {
	font-size: 3.6em;
	font-weight: normal;
	line-height: 1.2;
}
h2 {
	font-size: 2.4em;
	font-weight: normal;
	line-height: 1.2;
}
h3 {
	font-size: 1.2em;
	font-weight: bold;
	line-height: 1.2;
}
h4 {
	font-size: 1.0em;
	font-weight: bold;
	line-height: 1.2;
}

#content {
	width: 960px;
	margin: 0 auto;
	padding: 40px 20px;
	background: #fff;
}
